<div class="footer__country-selector flex items-center justify-center md:justify-normal">
  <img
    class="mr-2"
    width="16"
    height="12"
    src="https://cdn.shopify.com/s/files/1/0747/2408/1965/files/uk-flag.jpg?v=1683200876"
    alt="Country Flag Alt"
    loading="lazy"
  >
  <span class="footer__country-selector font-base text-xs text-white mr-1">United Kingdom / English</span>
  <span class="text-white">
    {% render 'icon', icon: 'chevron-down' %}
  </span>
</div>
