{% comment %} header {% endcomment %}
<div class=" mx-auto w-full h-auto grid grid-cols-12 px-8 sm:px-8 md:px-20 lg:px-20 py-8 sm:py-8 md:py-20 lg:py-20 border-b-gray-300 border-b-2">
  <div class="col-span-6">
    <h2 class="font-primary text-12xl leading-primary-font uppercase">{{ 'templates.cart.cart_heading' | t }}</h2>
  </div>
  <div class="col-span-6 text-right self-end">
    <p class="font-body text-base leading-body-font">{{ count }} items</p>
  </div>
</div>
