<ul class="flex flex-wrap items-center justify-center md:justify-normal" role="list">
  {%- for type in shop.enabled_payment_types -%}
    <li class="pb-1 pr-2 last:pr-0">
      {{ type | payment_type_svg_tag }}
    </li>
  {%- endfor -%}
</ul>